@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fafafa;
  --text-color: #333333;
  --border-color: #a1a1aa;
  --primary-color: #2dd4bf;
  --warning-color: #f59e0b;
  --invalid-color: #ef4444; /* 빨간색 */
  --success-color: #10b981; /* 초록색 */
  --disabled-color: #e4e4e7;
}
@layer base {
  html,
  body {
    background-color: var(--bg-color);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
}
@layer components {
  .main {
    @apply relative max-w-[400px] min-w-[360px] h-screen m-auto py-20 px-4;
  }
  .main-title {
    @apply text-center text-4xl pt-8 font-extrabold uppercase;
  }
  .btn-sm {
    @apply rounded-full text-center py-1 px-5 border border-[var(--border-color)]
    hover:opacity-90
    active:scale-95
    transition-all;
  }
  .btn-full {
    @apply block w-full rounded-full
    outline-none py-3 px-12
    text-xl font-bold
    text-center
    disabled:bg-[var(--disabled-color)]
    disabled:text-gray-400
    hover:opacity-90
    active:scale-95
    transition-all;
  }
  .btn-primary {
    @apply text-white bg-[var(--primary-color)];
  }
  .btn-secondary {
    @apply text-[var(--text-color)] bg-transparent
    border border-[var(--border-color)];
  }
}
