@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fafafa;
  --border-color: #bbbbbb;
  --primary-color: #2dd4bf;
  --warning-color: #f59e0b;
  --invalid-color: #ef4444;
  --success-color: #10b981;
  --disabled-color: #aaaaaa;
  --text-black: #333333;
  --text-gray: #999999;
  --skeleton-color: #cecece;
}
@layer base {
  html,
  body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-results-button {
    display: none;
  }
}
@layer components {
  .main-title {
    @apply text-center text-4xl font-extrabold uppercase;
  }
  .btn-sm {
    @apply rounded-full text-center py-1 px-5 border border-[var(--border-color)]
    hover:opacity-90
    active:scale-95
    transition-all;
  }
  .btn-full {
    @apply block w-full rounded-full
    outline-none py-3 px-12
    text-xl font-bold
    text-center
    disabled:bg-[var(--disabled-color)]
    disabled:text-gray-400
    hover:opacity-90
    active:scale-95
    transition-all;
  }
  .btn-primary {
    @apply text-white bg-[var(--primary-color)];
  }
  .btn-secondary {
    @apply text-[var(--text-black)] bg-transparent
    border border-[var(--border-color)];
  }
}
